.root {
    -fx-background-color: whitesmoke;
}

.button {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 3px;
    -fx-border-color: maroon;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-padding: 5px 10px;
    -fx-text-fill: maroon;
    -fx-stroke-width: 300px;
    -fx-border-radius: 3px;
    -fx-min-width: 200px;
}
.button:hover {
    -fx-background-color: maroon;
    -fx-text-fill: whitesmoke;
    -fx-effect: null;
    -fx-background-radius: 3px;
}
.text-field {
    -fx-background-radius: 3px;
    -fx-border-color: maroon;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-padding: 5px 10px;
}
.text-field:focused {
    -fx-background-radius: 3px;
    -fx-border-color: maroon;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-effect: none;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}
#log {
    -fx-max-height: 400px;
    -fx-padding: 15px;
    -fx-background-radius: 3px;
    -fx-border-color: maroon;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-effect: none;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;

}